gradio
kaleido
cohere
openai
tiktoken
gradio_imageslider
xformers==0.0.22.post7+cu118 --index-url https://download.pytorch.org/whl/cu118
diffusers==0.21.4
matplotlib==3.8.2
transformers==4.35.2
accelerate==0.25.0
